body
{
background-color:darkslategray;
margin:0;
}
#calendars
{
width:100%;
color:lightgray;
}

.calendar
{
    font-size:40px;
}

h2 {
    font-family:sans-serif;
    font-size:80px;
}

#sec0
{
    position: relative;
    float:left;
    width:35%;
    padding-left:10%;
    overflow-y: hidden;
    text-align:left;
}
#sec1
{
    position: relative;
    float:right;
    width:35%;
    padding-right:10%;
    text-align:left;
    overflow-y: hidden;
    height: 100%;
}

.summary
{
color:#e6b800;
}

.date
{
font-family:monospace;
line-height:32px;
}
.description
{
color:blue
}
